//tipos de letra
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&family=Work+Sans:wght@100&display=swap');

$ff-1: 'Bebas Neue', sans-serif;
$ff-2: 'Lora', serif;
$ff-3: 'Work Sans', sans-serif;

//paleta de colores
$color-1: #FA4434;
$color-2: #413BFF;
$color-3: #686d76;
$color-4: #f8be6c;